.menu_box{
	background-color:white;
	margin:5px;
	border-radius:5px;
}

.menu_img{
	float:left; 
	background-color:white;
	margin-left:5px;
}

.menu_title{
	margin-left:5px;
	color:black;
}

.menu_cooking_box{
	float:left;
	width:100%;
	background-color:white;
	border-radius:5px;
}

.menu_cooking_btn{
	float:right;
	width:20%;
	margin-right:5%;
}

.menu_view_btn{
	float:right;
	width:20%;
	margin-right:2%;
}

.recipe_item {
  display:inline-block; 
  width:48%; 
  margin:5px 1% 5px 1%; 
  background-color:white;
  border-radius: 3px;
}

.recipe_item.left {
  float:left;
}
.recipe_item.right {
  float:right;
}

.list_row_right{
	float:right;
}

.recipe_img{
	max-width:90%;
	max-height:95%;
	margin:3px 5% 0px 5%;
}

.recipe_title{
	margin-left:5%;
	color:black;
}

.recipe_rating{
	margin-left:5%;
	color:black;
}

#main_AllCategories a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: black;
}

#main_AllCategories a:visited{
	color: black;
}

.category_box{
	position: relative;
	float: left;
	width: 100%;
	background-color:white;
	border-radius:5px;
}

.category_recipe{
	display:inline-block;
	width:15%; 
	margin:5px 1% 5px 1%; 
	float:left;
}

.category_img{
	float: left;
	width: 100%;
}

.menu_content_images{
	display:inline-block;
	width:40%;
	margin: 5px auto 5px 10%;
}

.menu_recipe_title{
	position:absolute; 
	float:right;
}

.menu_recipe_img{
	max-height:100%;
	max-width:100%;
}

.menu_content_photos_title{
	background-color:#ADD8E6;
	width:100%;
	opacity:0.6;
	border-radius:5px;
}

.menu_content_photos{
	display:inline-block;
	width:33%;
	padding:2px 2px 2px 2px;
	float:left;
}

.recipe_item {
  display:inline-block; 
  width:48%; 
  margin:5px 1% 5px 1%; 
  background-color:white;
  border-radius: 3px;
}
.kitchen_recipe_item{
  display:inline-block; 
  width:48%; 
  margin:5px 1% 5px 1%; 
  background-color:white;
border-radius: 3px;
  }
.kitchen_recipe_item.left{
  float:left;
}
.kitchen_recipe_item.right{
  float:right;
}
.recipe_item.left {
  float:left;
}
.recipe_item.right {
  float:right;
}
.kitchen_recipe_item.chosen {
  /*
  border: solid orange;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 0.5%;
  border-right-width: 0.5%;
  margin: 3px 0.5% 3px 0.5%;
  */
  background-color: #DF7401;
  opacity:0.8;
}
.popup_btn {
  display: block;
  position: fixed;
  background-color: #0080FF;
  z-index: 10000;
  width:32px;
  height:32px;
  border-radius:15px;
  color: white;
  text-align: center;
  opacity: 0.85;
}
#popup_btn_trash {
  top: 5px;
  right: 80px;
}
#popup_btn_edit {
  top: 50px;
  right: 50px;
}
